<style>
    .attr_title{
        font-size: 10px;
        color: #fff;
        width: 60px; 
        text-align: right;
    }

    .attr_value{
        font-size: 10px;
        color: #fff;
        width: 54px; 
        text-align: left; 
        padding-left: 4px;
    }

    .attr_btn{
        font-size: 10px;
        color: #fff;
        width: 48px; 
        text-align: left; 
        padding-left: 4px;
    }

    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background-color: #3c3c3c;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(130, 130, 130);
        border-radius: 3px;
    }

    ::-webkit-scrollbar-button {
        /* 上下按钮 */
        /* background-color: white; */
        display: none;
    }

</style>

<div class="layui-row layui-col-space4" style="margin-top: 4px;">
    <div class="layui-col-xs3">
        <div style="height: 542px; background-color:#2e2e2e; color: #fff;">
            <div style="height: 12px;"></div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">图片总数:</span>
                <div id="g_count" class="attr_value"></div>
            </div>

            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">物理编号:</span>
                <input id="g_search_input" type="text" placeholder="请输入编号" class="layui-input" style="width: 100px; height: 22px; font-size: 10px; margin-left: 4px; margin-top: 8px;">
                <div class="layui-input-suffix" style="width: 30px;">
                    <button id="g_search_btnup" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.5; margin-left: -8px; margin-bottom: 0px; margin-top: 7px; transform-origin: left top; padding: 0; width: 28px;">
                        <i class="layui-icon layui-icon-up"></i>
                    </button>
                    <button id="g_search_btndown" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.5; margin-left: -8px; margin-top: -16px; transform-origin: left top; padding: 0; width: 28px;">
                        <i class="layui-icon layui-icon-down"></i>
                    </button>
                </div>
            </div>

            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">图片编号:</span>
                <div id="g_imgNum" class="attr_value" style="width: 90px;">0</div>
                <button id="g_imgNum_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.8;">修改</button>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">地址:</span>
                <div id="g_addr" class="attr_value"></div>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">调色板:</span>
                <div id="g_pattle" class="attr_value"></div>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">版本:</span>
                <div id="g_verson" class="attr_value"></div>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">占用字节:</span>
                <div id="g_size" class="attr_value">0</div>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">图片大小:</span>
                <div id="g_imgWidth_imgHeight" class="attr_value">0,0</div>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">偏移量:</span>
                <div id="g_imgOffsetX_imgOffsetY" class="attr_value" style="width: 90px;">0,0</div>
                <button id="g_imgOffsetX_imgOffsetY_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.8;">修改</button>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">占地面积:</span>
                <div id="g_areaX_areaY" class="attr_value" style="width: 90px;">1,1</div>
                <button id="g_areaX_areaY_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.8;">修改</button>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">地图编号:</span>
                <div id="g_mapId" class="attr_value" style="width: 90px;">0</div>
                <button id="g_mapId_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.8;">修改</button>
            </div>
            <div class="layui-input-group" style="margin-bottom: 4px;">
                <span class="attr_title">可移动:</span>
                <div id="g_canMove" class="attr_value" style="width: 90px;">0</div>
                <button id="g_canMove_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="scale: 0.8;">修改</button>
            </div>

            <button id="g_export_bin" class="layui-btn layui-btn-primary layui-btn-xs" style="width:80px; margin-top: 10px; margin-bottom: 4px; margin-left: 16px;">导出bin</button>
            <button id="g_export_bmp" class="layui-btn layui-btn-primary layui-btn-xs" style="width:80px; margin-top: 10px; margin-bottom: 4px;">导出bmp</button>
            <button id="g_repairPal" class="layui-btn layui-btn-primary layui-btn-xs" style="width:80px; margin-bottom: 4px; margin-left: 16px;">修复调色板</button>
            <button id="g_delete_bin" class="layui-btn layui-btn-primary layui-btn-xs" style="width:80px; margin-bottom: 4px;">删除图片</button>
            <button id="g_export_bin_mult" class="layui-btn layui-btn-primary layui-btn-xs" style="width:80px; margin-bottom: 4px; margin-left: 16px;">批量导出bin</button>
            <button id="g_export_bmp_mult" class="layui-btn layui-btn-primary layui-btn-xs" style="width:80px; margin-bottom: 4px;">批量导出bmp</button>

            <div class="layui-form-item" style="margin-left: 14px; margin-top: 10px; font-size: 10px;">
                <span class="attr_title">导入图片:</span>
                <div class="layui-input-group" style="margin-top: 4px; margin-bottom: 4px;">
                    <input id="g_import_graphic_input" type="text" placeholder="请选择Graphic文件" class="layui-input" style="width: 138px; height: 22px;">
                    <div class="layui-input-suffix">
                        <button id="g_import_graphic_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="margin-left: -8px;">打开</button>
                    </div>
                </div>
                <div class="layui-input-group" style="margin-bottom: 4px;">
                    <input id="g_import_graphicinfo_input" type="text" placeholder="请选择GraphicInfo文件" class="layui-input" style="width: 138px; height: 22px;">
                    <div class="layui-input-suffix">
                        <button id="g_import_graphicinfo_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="margin-left: -8px;">打开</button>
                    </div>
                </div>
                <button id="a_import_btn" class="layui-btn layui-btn-primary layui-btn-xs" style="width: 80px; margin-left: 96px;">合并</button>
                <span style="color: red; width: 176px; display: block;">*注:请确保文件名中必须分别包含: Graphic | GraphicInfo, 不区分大小写</span>
            </div>
        </div>
    </div>

    <div class="layui-col-xs9" style="height:542px; background-image: url(res/images/canvasBg.jpg); background-repeat: no-repeat; background-size: cover;">
        <canvas id="g_canvas"></canvas>
    </div>

</div>



<script>
    let loadIndex = layer.load(1);
    let curIdx = 0;
    let maxIdx = 0;
    let imgList = [];

    window.electronAPI.graphicPageInit().then(res=>{
        console.log(res[curIdx]);
        console.log(res.infoList);
        layer.close(loadIndex);

        $('#g_count').text(res.infoList.length);
        imgList = res.infoList;
        maxIdx = res.infoList.length - 1 - 2;

        // 设置第一条数据
        setCurData(res[0], curIdx);
    });


    $('#g_search_btnup').click(function(){
        curIdx--;
        if(curIdx < 0){
            curIdx = maxIdx;
        }

        let imgNum = imgList[curIdx];
        console.log({imgNum});
        window.electronAPI.getGraphicDataById(imgNum).then(res=>{
            console.log(res);

            setCurData(res, curIdx);
        });

        // setCurData(window.electronAPI.getGraphicInfo(curIdx), curIdx);
    });

    $('#g_search_btndown').click(function(){
        curIdx++;
        if(curIdx >= maxIdx){
            curIdx = 0;
        }

        let imgNum = imgList[curIdx];
        console.log({imgNum});
        window.electronAPI.getGraphicDataById(imgNum).then(res=>{
            console.log(res);

            setCurData(res, curIdx);
        });

        // setCurData(window.electronAPI.getGraphicInfo(curIdx), curIdx);
    });
    
    
    // cel选中事件回调
    function setCurData(data, idx){
        $('#g_search_input').val(idx);
        curIdx = idx;

        $('#g_imgNum').text(data.imgNum);
        $('#g_addr').text(`0x${data.addr.toString(16)}`);
        // $('#g_pallte').text(['官方','自带','隐藏'][data.pattle]);
        $('#g_verson').text(data.verson);
        $('#g_size').text(data.imgSize);
        $('#g_imgWidth_imgHeight').text(`${data.imgWidth}, ${data.imgHeight}`);
        $('#g_imgOffsetX_imgOffsetY').text(`${data.offsetX}, ${data.offsetY}`);
        $('#g_areaX_areaY').text(`${data.areaX}, ${data.areaY}`);
        $('#g_mapId').text(data.mapId);
        $('#g_canMove').text(data.canMove);

        
        // 更新canvas
        let canvas = $('#g_canvas')[0];
        let ctx = canvas.getContext('2d');
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        canvas.width = data.imgWidth;
        canvas.height = data.imgHeight;
        
        console.log(data.img);

        let img = new Image(data.imgWidth, data.imgHeight);
        img.src = data.img;
        img.onload = function(){
            ctx.drawImage(this, 0, 0);
        }
        
    }



</script>


