<div class="layui-layout-admin">
	<div class="layui-header">
		<!-- 头部区域 -->
		<ul class="layui-nav">
			<li class="layui-nav-item layui-hide-xs"><a href="javascript:;" lay-href="setting">设置</a></li>
			<li class="layui-nav-item layui-hide-xs"><a href="javascript:;" lay-href="graphic">图片</a></li>
			<li class="layui-nav-item layui-hide-xs"><a href="javascript:;" lay-href="anime">动画</a></li>
		</ul>
	</div>

	<!-- 主体内容 -->
	<div id="LAY_app_body" class="layui-body">
		<!-- class="layui-body"  -->
		<div class="layadmin-tabsbody-item layui-show" style="background-color: #3c3c3c;"></div>
	</div>
</div>
